# fly.toml app configuration file
# Generated for voice-journal

app = "voice-journal"
primary_region = "sjc"

[build]

[env]
  PORT = "3000"

[mounts]
  source = "voice_journal_data"
  destination = "/data"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1
